.slide-bg {
    /*width:100%;*/
    /*height:100%;*/
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    backface-visibility: hidden !important;
    animation: slideBg 8s linear infinite 0s !important;
    animation-timing-function: ease-in-out !important;
    /*background-image: url('../img/PortadaChartIndia.jpg')!important;*/
}

@keyframes slideBg {
    /*0% {
        background-image: url('../img/graphic-bg-clouds-2.png.jpg');
    }*/
    /*33% {
        background-image: url('../img/PortadaChartIndia.jpg');
    }*/
    /*33%{
        background-image: url('../img/MercadoIndio1.jpg');
    }*/
    /*66%{
        background-image: url('../img/MercadoIndio3.jpg');
    }*/
    /*75%{
        background-image: url('../Content/img/PortadaChartIndia.jpg');
    }
    100%{
        background-image: url('../Content/img/PortadaChartIndia.jpg');*/
}

.btn-action-fixed {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.btn-floating {
    width: 56px;
    height: 56px;
    padding: 0;
    line-height: 56px;
    font-size: 15px;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    outline: 0;
    border: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #3f454d !important;
    animation: none;
}

    .btn-floating:hover {
        animation: shadow-pulse 1s infinite;
    }

    .btn-floating i {
        font-size: 1.6rem;
        line-height: 56px;
        width: inherit;
        display: inline-block;
        text-align: center;
        color: #fff;
    }

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}